.thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-size: cover;
} 

.list{
    margin-left: 5px;
    height: 100%;
}


td {
    text-align: center;
    vertical-align: middle;
  }

